//BARRE DE RECHERCHE
/*.btn-outline-success {
    color: #61d5fe;
    border-color: #61d5fe;
    &.btn-outline-success:hover {
        color: #fff;
        background-color: #61d5fe;
        border-color: #61d5fe;
    }
}*/

//couleur titre navbar
.navbar-light .navbar-nav .nav-link {
    color: black;
}

//logo navbar isppc pro
#lockIcon:hover {
    color: red;
}


//Logo Isppc jumbotron
.jumbotronLogo {
    height: 25vh;
}

//Jumbotron
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-image: url("/assets/img/fond2-opacity.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: .3rem;
    margin: 0;
}

//Boutons Jumbotron : Qui sommes-nous / Contact / Jobs
.btn-primary {
    color: white;
    font-weight: 600;
    background-color: #ffb21a;
    border-color: #ffb21a;

    &.btn-primary:hover {
        color: white;
        background-color: #fe0198;
        border-color: #fe0198;
    }
}

//Retire le fond bleu lors du clique - boutons jumbotron
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

//Footer
footer {
    background-color: #f8f9fa;
    color: black;
}

//Logo Facebook footer
.fa-facebook {
    color: black;

    &:hover {
        color: #4267B2;
    }
}

//Logo twitter footer
.fa-twitter {
    color: black;

    &:hover {
        color: #1da1f2;
    }
}

//Logo instagram footer
.fa-instagram {
    color: black;

    &:hover {
        color: transparent;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background-clip: text;
        -webkit-background-clip: text;
    }
}

//Logo youtube footer
.fa-youtube {
    color: black;

    &:hover {
        color: #FF0000;
    }
}

//Footer infos contacts
footer li a {
    color: black;

    &:hover {
        color: black;
        text-decoration: none;
    }
}

//footer logo isppc gauche
footer .logo-texte {
    height: 150px;
}